.email-input {
  color: white;
  width: 455px;
  background-color: #052d56;
  height: 60px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #052d56;
}
button {
  color: black;
  background-color: #ff4820;
  width: 173px;
  height: 60px;
}
.gpt3__header-content_input {
  display: flex;
  margin: auto;
}
